.header {
    height: 6rem;
    border-bottom: 1px solid #e7ebf0;
    overflow: hidden;
}

.header-desktop-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.header-mobile-menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.mobile-menu {
    display: flex;
    justify-content: flex-end;
    cursor: context-menu;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #0d3b662a;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    transform-origin: right;
    transition: all 0.2s;
    transform: translateX(0rem);
}

.mobile-menu-items {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 80%;
    height: 100%;
    padding-top: 8rem;
    background-color: #fff;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mobile-menu p {
    display: flex;
    border-top: solid 1px #0d3b66;
    padding: 2.4rem 3.6rem;
    width: 100%;
    font-size: 2.4rem;
}

.mobile-menu p:last-child {
    border-bottom: solid 1px #0d3b66;
}

.mobile-menu p:hover {
    color: #567694;
}
.mobile-menu div {
    margin-top: 3rem;
}

.mobile-x-icon {
    cursor: pointer;
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
}

.hide {
    transform-origin: right;
    transition: all 0.3s;
    transform: translateX(100rem);
    
}

.header-icon {
    cursor: pointer;
    color: #f4d35e;
    font-size: 4rem;
    transition: 0.4s;
}

.header-icon:hover {
    color: #567694;
    transition: 0.4s;
}

.header-text {
    font-size: 1.4rem;
    color: #567694;
}

.header-text:hover {
    color: #0d3b66;
}

.cart-div {
    position: relative;
    display: block;
}

.cart-number {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 2rem;
    height: 2rem;
    bottom: 1.8rem;
    right: -0.8rem;
    font-size: 1.4rem;
    border-radius: 50%;
    background-color: #f4d35e;
}

.user-div {
    display: inline;
}

.mobile-icon {
    font-size: 2.4rem;
}

@media (max-width: 700px) {
    .header-desktop-menu {
        display: none;
    }
    .mobile-icon {
        font-size: 3rem;
    }
 }

 @media (min-width: 699px) {
    .header-mobile-menu {
        display: none;
    }
 }

