.selected-flight {
    position: fixed;
    z-index: 50;
    background-color: #e7ebf080;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;  
    overflow-y: scroll;
}

.selected-flight--box {
    background-color: #fefcf4;
    max-height: 80rem;
    max-width: 80rem;
    margin: 10% auto 2rem auto;
    top: 50%;
    left: 50%;  
    border-radius: 0.8rem;
}

.selected-flight--container{
    margin: 5% auto;
    width: 90%;
    height: 90%;
}

.selected-flight--container p {
    margin-bottom: 1rem;
}
