.dropdown {
    position: relative;
    padding-bottom: 1rem;
}

.dropdown ul {
    position: absolute;
    z-index: 1;
}

.big-number {
    font-size: 5.4rem;
    color: #567694;
    font-weight: 700;
}
